build:
  type: text
  content: |-
    #!/bin/sh

    # make all
    # docker build
deploy:
  type: netlify
  content:
    site_env:
      - key: OLD
        value: '2'
        proxyPort: false
test: []
uninstall:
  type: text
  content: |+
    #!/bin/sh

dockerCompose: ''
lastUpdatedBy: Priyanshi Somani
lastUpdatedOn: 2023-03-15T04:40:20.353Z
