build:
  type: text
  content: |-
    #!/bin/sh

    # make all
    # docker bmuilddddddddmmdddddd
deploy:
  type: text
  content: |2-
     #!/bin/sh
    <<'###'
    Sample Deploy Instructions

    HELM_OPTS="--set clusterIP=${ROOST_CLUSTER_IP},tag=${ROOST_NAMESPACE},namespace=${ROOST_NAMESPACE}"

    helm install <helm-folder> -n <ns> $HELM_OPTS

    kubectl apply -f <file>.yaml
    ###


    HELM_OPTS=""
    helm upgrade adminsettings-helm-vote helm-vote -n $ROOST_NAMESPACE --create-namespace --install $HELM_OPTS
     
     docker-compose -f .github/workflows/node.js.yml up -d
test: []
uninstall:
  type: text
  content: |+
    #!/bin/sh

dockerCompose: ''
pulumi_content: bnmxdcfvgbh
pulumi_git_path: ''
pulumi_uninstall: fghj
lastUpdatedBy: Priyanshi Somani
lastUpdatedOn: 2023-04-19T06:11:19.116Z
